@import url("https://fonts.googleapis.com/css?family=Fauna+One&display=swap");
html {
  font-family: 'Fauna One', serif;
  font-size: 20px;
  line-height: 1.2; }

h2 {
  padding-top: 1rem; }

.animatedPic {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  -webkit-animation: fadein 5s;
  /* For old versions of Safari, Chrome and Opera */
  /* For old versions of Firefox */
  /* For Internet Explorer */
  /* For old versions of Opera */
  animation: fadein 5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* For old versions of Firefox */

/* For old versions of Safari, Chrome and Opera */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* For Internet Explorer */

/* For old versions of Opera */

@media screen and (max-width: 768px) {
  div.content p img {
    max-width: 100vw;
    height: 45vh; } }
