@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

.site-header-main {
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    border-bottom: 2px solid #B81F26;
}

li {
    display: inline-block;
}

nav>ul>li>a {
    display: inline-block;
    color:green;
    text-decoration: none;
    padding: 1rem;
    font-size: 25px;
    font-family: 'Julius Sans One', sans-serif;
}