@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fauna+One&display=swap');

html {
    font-family: 'Fauna One', serif;
    font-size: 20px;
    line-height: 1.2;
}

.site-header {
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    border-bottom: 2px solid rgb(209, 36, 224);
}

.socialMedia {
    text-align: center;
}

li {
    display: inline-block;
}

nav {
    display: inline-block;
}

nav>ul>li>a {
    color:green;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    font-family: 'Julius Sans One', sans-serif;
}